extends layout

block main-content
  h1 About WeatherQuoter
  p
  p This is a simple web application called WeatherQuoter.
  p It provides users with current weather information based on the location they choose and displays an inspirational quote for making them feel good about the day.
  p The weather data is obtained from the OpenWeatherMap API, and the quotes are fetched from the Quotable API and the countries in dropdown are populated with REST countries API.
  h3 Features
  p 1. Real-time weather updates based on the location selected by users.
  p 2. Inspirational quotes to brighten your day
  p 3. Simple and appealing user interface
  h3 Technologies Used
  p Node.js
  p Express.js
  p Pug 
  p Bootstrap and CSS
  p OpenWeatherMap API for weather data
  p Quotable API for quotes
  p REST Countries API for countries dropdown menu
  h3 Contact Us
  p If you have any questions, suggestions, or feedback, please don't hesitate to contact me at 
  p Email: sallypawar26@gmail.com.
  p I'm always happy to hear from my users!
